{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
  {{ template "header" }}

  <body>

    {{ template "navbar" }}

    <div class="container">
    {{ if .user }}
        <h3>Welcome {{ .user.Name }}</h3>

        {{ if .nibe_connection }}
        <span class="info">Connection to Nibe has been made.</span>
        {{ else }}
        <a href="/oauth/authorize" class="btn">Allow application Nibe access</a>
        {{ end }}
    {{ end }}
    </div><!-- /.container -->

    {{ template "footer" }}
  </body>
</html>
{{ end }}
